<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login and Registration</title>
  {% include 'header.html' %}
</head>
<body>
<div class="container">
    <h3>Welcome</h3>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="alert alert-warning "> {{message}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="text-right"><a href="/"class="btn btn-primary">Log out</a></div>
</div>
</body>
</html>
